/* Customization for our theme */
$primary: #3aafa9;
$dark: #333333;
$light: #f7f3ea;
$navbar-padding-x: 1rem;
$link-decoration: none;
$link-hover-decoration: underline;
// $secondary:     $gray-600;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;

/* bootstrap CSS */
@import "~bootstrap/scss/bootstrap";

/* Colors variable for dark mode */
:root {
    --dark-bg-color: #27241d;
    --dark-text-color: #d3cec4;
    --dark-card-bg: #504a40;
}

/* Custom CSS */
#wpes-sidebar-links {
    max-height: 100vh;
    overflow-y: auto;
    z-index: 1021;
}

code.hljs {
    padding: 0.5rem 2rem;
    display: block;
    overflow-x: auto;
}

.navbar {
    font-weight: 600;
}

footer.bg-light a {
    color: $dark;

    &:hover,
    &:focus {
        color: $dark;
        text-decoration: underline;
    }
}

pre {
    code.code-block {
        padding-top: 2rem;
    }
}

.copy-code {
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
    padding: 0.5rem;
    cursor: pointer;
}

/* Dark mode CSS */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-color);
        color: var(--dark-text-color);
    }

    .bg-dark {
        background-color: transparent !important;
        border-bottom: 1px solid var(--dark-card-bg);
    }

    .bg-light {
        background-color: var(--dark-card-bg) !important;
    }

    .text-white {
        color: var(--dark-text-color) !important;
    }

    .navbar-nav .nav-item>.nav-link.active,
    .navbar-nav .nav-item>.nav-link:hover,
    .navbar-nav .nav-item>.nav-link:focus {
        color: $primary;
    }

    .navbar {
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .navbar-toggler {
            color: var(--dark-text-color);
            border-color: var(--dark-text-color);
        }

        .navbar-brand {
            color: var(--dark-text-color);

            &:hover,
            &:focus {
                color: var(--dark-text-color);
            }
        }
    }

    .list-group-item {
        background-color: var(--dark-card-bg);
        color: var(--dark-text-color);
        border-color: var(--dark-bg-color);
    }

    .navbar-nav .nav-item>.nav-link {
        color: var(--dark-text-color);
    }

    .dropdown-menu {
        background-color: var(--dark-bg-color);
    }

    .dropdown-item {
        color: var(--dark-text-color);

        &:hover,
        &:focus {
            background-color: $primary;
            color: var(--white);
        }
    }

    footer.bg-light a {
        color: var(--dark-text-color);

        &:hover,
        &:focus {
            color: $primary;
            text-decoration: underline;
        }
    }
}